body {
    font-family: 'M PLUS 1p', sans-serif;
}

.arrow-bottom {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 10px;
  border-bottom: 4px solid #000;
  border-right: 4px solid #000;
  transform: rotate(45deg);
}

span.allow-bottom-with-text::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 0px 5px 10px;
  border-bottom: 2px solid #ff0000;
  border-right: 2px solid #ff0000;
  transform: rotate(45deg);
}
