.builderblock {
    padding: 0rem 15rem;
}

@media screen and (max-width:768px) {
    .builderblock {
        padding: 0rem 0rem;
    }
}

@media screen and (max-wigth:1024px) {
    .builderblock {
        padding: 0rem 5rem;
    }
}
