.builderblock {
    padding: 0rem 15rem;
}

@media screen and (max-width:1023px) {
    .builderblock {
        padding: 0rem 0rem;
    }
}

@media screen and (max-width:1215) {
    .builderblock {
        padding: 0rem 10rem;
    }
}
